<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">

<!-- Google Web Components -->
<link rel="import" href="../../bower_components/google-map/google-map.html">

<dom-module id="atm-locator">
  <template>
    <style include="shared-styles">
        :host {
            display: block;
        }

        span,
        input {
            @apply(--paper-font-body2);
        }
        google-map {
            height: 600px;
        }
    </style>

    <span>In order to find an ATM close to you, please enter the name the city you're in</span>
    
    <paper-input label="City name" value="{{cityName}}"></paper-input>
    
    <iron-ajax auto
          url="http://localhost:8080/api/atm/{{cityName}}"
          handle-as="json"
          debounce-duration="300"
          last-response="{{atms}}"
          on-response="handleResponse"
          on-error="handleError"></iron-ajax>
        <p>Atms: {{atms.length}}</p>

    <google-map fit-to-markers>
        <template is="dom-repeat" items="{{atms}}">
            <google-map-marker latitude="{{item.address.geoLocation.lat}}"
                               longitude="{{item.address.geoLocation.lng}}">
            </google-map-marker>
        </template>
    </google-map>
    
    
    <p>Atms List:</p>
    
    <template is="dom-repeat" items="{{atms}}">
        <iron-icon icon="communication:location-on"></iron-icon>  
        {{item.address.city}}<br/>
        {{item.address.housenumber}} {{item.address.street}} - {{item.address.postalcode}}<br/><br/>   
    </template>
    
    <paper-dialog>
        <h2>Header</h2>
        <paper-dialog-scrollable>
            Lorem ipsum...
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-dismiss>Cancel</paper-button>
            <paper-button dialog-confirm>Accept</paper-button>
        </div>
    </paper-dialog>
        
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'atm-locator',
        
        handleResponse: function (response){
            console.log (response.detail.xhr.status);
        },
        
        handleError: function (response) {
            console.log (response);
        }
      });
    })();
  </script>
</dom-module>
